<div id="wrapper">
    <div id="issues">
        <h2 class="centerText">Issues: </h2>
        {{#if issues }}
        <dl id="issueList">
            {{#each issues}}
                <div class="issueBox">
                    <div class="centerText">
                    <a href={{this.html_url}}>{{this.user.login}}</a><br>
                    {{this.title}}<br>
                    </div>
                    <div class="bottomLeft">                    
                    Created at: {{dateFormat this.created_at "YYYY-MM-DD, h:mm a"}}<br>
                    Updated at: {{dateFormat this.updated_at "YYYY-MM-DD, h:mm a"}}
                    </div>
                </div>
            {{/each}}
        </dl>
        {{/if}}  
    </div>
    <div id="notifications">
        <h2 class="centerText">Notifications: </h2>
        <dl id="notificationList">
            
        </dl>
    </div>
    <template id="issueTemp">
        <div class="issueBox">
                <div class="centerText">
                    <a href='' id='issueLink'></a><br>
                    <span id='issueTitle'></span><br>
                </div>
                <div class="bottomLeft">                    
                        Created at: <span id='issueCreated'></span><br>
                        Updated at: <span id='issueUpdated'></span>
                </div>
        </div>
    </template>
    <template id="notifyTemp">
        <div class="notification">
                <div class="centerText">
                    <span id="notifyAction"></span><br>
                    <a href='' id="notifyTitle"></a>
                </div>
                <div class="bottomLeft">
                    User: <span id="notifyUser"></span>
                </div>
            </div>
    </template>
</div>